body {
  background-color: lightgray;
  font-family: sans-serif;
}

.card {
  background-color: white;
  width: 400px;
  padding: 8px;
  margin: 16px auto;
}

.title {
  background-color: lightblue;
  font-size: 16px;
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.content {
  background-color: lightblue;
  padding: 16px 8px;
  margin-bottom: 8px;
}

.button-container {
  background-color: lightblue;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  background-color: lightgray;
  padding: 8px 24px;
  border: 1px solid gray;
  margin: auto;
}